cli-test-helpers
joblib
jsonpickle
lightgbm
llvmlite
matplotlib
numba
numpy
openpyxl
optuna
pandas
pyarrow
pytest
pytest-xdist[psutil]
python-dateutil
scikit-image
scikit-learn
scipy
seaborn
statsmodels
tabulate
torch
torchaudio
torchvision
tqdm
typing_extensions
skorch
transformers[torch]
accelerate
datasets[vision]
protobuf
sentencepiece
pytorch-tabular
pytorch-lightning
transformers
evaluate
datasets
peft
absl-py
git+https://github.com/google/CommonLoopUtils
distrax
editdistance
einops
flax
optax
git+https://github.com/google/flaxformer
git+https://github.com/akolesnikoff/panopticapi.git@mute
overrides
tensorflow-cpu
tfds-nightly
tensorflow-gan
pycocoevalcap